* {
    margin: 0;
    padding: 0;
}

img {
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}


.header {

    background-color: #1f2937;

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 12px;
}

.logo {
    align-self: flex-start;
}

.right-links {
    display: flex;
    justify-content: space-between;

    gap :32px;

    margin-right: 50px;
    margin-bottom: 100px;

}

.head-content {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 32px;
    margin-right: 100px;
    color: white;
}

.title {
    font-weight: 900;
    font-size: 48px;

    font-family: "Hero Main text", sans-serif;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 8px;
    border: 0;
    border-radius:  12px;
}

.writing {
    color: #e5e7eb;
    font-family: "Hero Secondary text", sans-serif;
}

.section-two {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imgs {
    display: flex;

}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 0px;
}

